@model MvcHomeKitchen.Models.Concrete.Class1
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/FoodLayout.cshtml";
}
<link rel="stylesheet" href="~/web/css/single.css">
<section class="banner-bottom">
    <!--/blog-->
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                @foreach (var x in Model.Deger1)
                {
                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                <a href="single.html">
                                    <img src="@x.Url" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="blog-info-middle">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="@x.Writer.PhotoUrl" class="rounded-circle" style="width:25px;height:25px;" /> @x.Writer.Name @x.Writer.Surname
                                        </a>
                                    </li>
                                    @foreach (var y in Model.Deger4)
                                    {

                                        if (@y.WriterId == ViewBag.u && @y.RecipeId == @x.RecipeId)
                                        {
                                            <li class="mx-2">
                                                <a href="/Recipe/DeleteBook/@y.AddBookId" style="color:springgreen">
                                                    <i class="fas fa-book"></i> @ViewBag.sayi Deftere Ekli
                                                </a>
                                            </li>
                                            break;
                                        }
                                        if (x.Status == false)
                                        {
                                            <li class="mx-2">
                                                <a href="#" data-toggle="modal" data-target="#Modal1">
                                                    <i class="fas fa-book"></i> @ViewBag.sayi Deftere Ekle
                                                </a>
                                            </li>
                                            break;
                                        }
                                    }
                                    <li>
                                        <a href="#">
                                            <i class="far fa-comment"></i> @ViewBag.v1 Yorum,
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            @x.Person Kişilik,
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            @x.Preparation Hazırlık,
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            @x.Cooking Pişirme
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <h3>
                            <a href="single.html">@x.Title </a>
                        </h3>
                        <p>
                            @x.Context
                        </p>
                        <a href="single.html" class="btn btn-primary read-m">Read More</a>
                    </div>
                }
                <div class="comment-top">
                    <h4 style="color:red" class="text-center">Yorumlar</h4>
                    @foreach (var x in Model.Deger2)
                    {
                        <div class="media">
                            <img src="@x.Writer.PhotoUrl" alt="" class="rounded-circle" style="width:75px;height:75px;" />
                            <div class="media-body">
                                <h5 class="mt-0">@x.Writer.Name @x.Writer.Surname</h5>
                                <p>
                                    @x.Context
                                </p>
                            </div>
                        </div>
                    }
                </div>
                @Html.Action("AddComment", "Recipe")
            </div>

            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    @Html.Action("AboneOl","Newsletter")

                    @Html.Action("LastCategory","Category")

                    @Html.Action("LastRecipe","Recipe")

                    @Html.Action("LastWriter","Writer")

                    @Html.Action("LastBlog","Blog")
              
                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-md-center" style="color:red;margin-left:110px;">Tarif Defterime Ekle</h4>
            </div>
            <form class="form-group" method="post">
                <div class="modal-body">

                    <input type="hidden" class="form-control" name="RecipeId" value="@ViewBag.v2" required />
                    @Html.Action("Partial1", "Recipe")

                </div>
                <div class="modal-footer">
                    <a href="#" style="color:white;margin-right:300px;" class="btn btn-warning" data-dismiss="modal">Vazgeç</a>
                    <input type="submit" class="btn btn-info" value="Kaydet" />
                </div>
            </form>
        </div>
    </div>
</div>