@model MvcHomeKitchen.Models.Concrete.Blog
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    @using(Html.BeginForm("Update","AdminBlog",FormMethod.Post))
    { 
        @Html.HiddenFor(x=>x.BlogId)
        <label><b>Resim</b></label>
        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
        <br />
        <label><b>Başlık</b></label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label><b>Blog</b></label>
        @Html.TextAreaFor(x => x.Context, 10, 3, new { @class = "form-control" })
        <br />
        <label><b>Yazar</b></label>
        @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.w, new { @class = "form-control" })
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-warning float-right">Güncelle</button>
            <a href="/AdminBlog/Index" class="btn btn-danger">Vazgeç</a>
        </div>
    }
</div>


