
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="statistics">
    <div class="row">
        <div class="col-xl-6 pr-xl-2">
            <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-users"> </i>
                        <h3 class="text-primary number">@ViewBag.a1</h3>
                        <p class="stat-text">Toplam Yazar</p>
                    </div>
                </div>
                <div class="col-sm-6 pl-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-eye"> </i>
                        <h3 class="text-danger number">@ViewBag.a2</h3>
                        <p class="stat-text">Toplam Kategori</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 pl-xl-2">
            <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-coffee-cup"> </i>
                        <h3 class="text-warning number">@ViewBag.a3</h3>
                        <p class="stat-text">Toplam Tarif</p>
                    </div>
                </div>
                <div class="col-sm-6 pl-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-bookmark"> </i>
                        <h3 class="text-secondary number">@ViewBag.a4</h3>
                        <p class="stat-text">Toplam Abone</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 pl-xl-2">
            <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-inbox"> </i>
                        <h3 class="text-info number">@ViewBag.a5</h3>
                        <p class="stat-text">Toplam Yorum</p>
                    </div>
                </div>
                <div class="col-sm-6 pl-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-book"> </i>
                        <h3 class="text-warning number">@ViewBag.a6</h3>
                        <p class="stat-text">Toplam Defter</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 pl-xl-2">
            <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-sun"> </i>
                        <h3 class="text-success number">@ViewBag.a7</h3>
                        <p class="stat-text">En Çok Yorum Yapılan Tarif</p>
                    </div>
                </div>
                <div class="col-sm-6 pl-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-star"> </i>
                        <h3 class="text-danger number">@ViewBag.a8</h3>
                        <p class="stat-text">En Trend Tarif</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-xl-6 pl-xl-2">
            <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-users"> </i>
                        <h3 class="text-dark number">@ViewBag.a9</h3>
                        <p class="stat-text">Admin Sayısı</p>
                    </div>
                </div>
                <div class="col-sm-6 pl-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-smile"> </i>
                        <h3 class="text-info number">@ViewBag.a10</h3>
                        <p class="stat-text">En Çok Takip Edilen Yazar</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-xl-6 pl-xl-2">
            <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-pencil"> </i>
                        <h3 class="text-success number">@ViewBag.a11</h3>
                        <p class="stat-text">Toplam Blog</p>
                    </div>
                </div>
                <div class="col-sm-6 pl-sm-2 statistics-grid">
                    <div class="card card_border border-primary-top p-4">
                        <i class="lnr lnr-bicycle"> </i>
                        <h3 class="text-info number">@ViewBag.a12</h3>
                        <p class="stat-text">Toplam Kaç Kalori?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
