@model MvcHomeKitchen.Models.Concrete.Writer
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    @using(Html.BeginForm("Update","AdminWriter",FormMethod.Post))
    { 
        @Html.HiddenFor(x=>x.WriterId)
        <label><b>Resim</b></label>
        @Html.TextBoxFor(x => x.PhotoUrl, new { @class = "form-control" })
        <br />
        <label><b>Adı</b></label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        <label><b>Soyadı</b></label>
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        <br />
        <label><b>Kullanıcı Adı</b></label>
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        <br />
        <label><b>E-mail</b></label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        <br />
        <label><b>Şifre</b></label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-warning float-right">Güncelle</button>
            <a href="/AdminWriter/Index" class="btn btn-default" style="background-color:blueviolet;color:white">Vazgeç</a>
        </div>
    }
</div>


