@model MvcHomeKitchen.Models.Concrete.Writer
@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Solo Profile Form a Flat Responsive Widget Template :: w3layouts </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Solo Profile Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script>
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link href="~/web3/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="~/web3/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        @using (Html.BeginForm("UpdateProfile", "WriterProfile", FormMethod.Post))
        {
        <div class="main">
            <div class="form-left-to-w3l">

                @Html.HiddenFor(x => x.WriterId, new { @class = "form-control" })
                <div class="clear"></div>
            </div>

            @*<div class="icon-head-wthree">
            <div class="images-headder">
                <div class="wrap-custom-file float-right">
                    <input type="file" name="image1" id="image1" accept=".gif, .jpg, .png" />
                    <label for="image1">
                        <span><img src="@Html.T(x=>x.PhotoUrl)" alt="" class="image-fluid"></span>
                        <span class="fas fa-camera-retro"></span>
                    </label>
                </div>
            </div>

        </div>*@
            <div class="form-left-to-w3l">

                @Html.TextBoxFor(x => x.PhotoUrl, new { @class = "form-control" })
                <div class="clear"></div>
            </div>
            <div class="form-left-to-w3l">

                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <div class="clear"></div>
            </div>
            <div class="form-left-to-w3l">
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                <div class="clear"></div>
            </div>
            <div class="form-left-to-w3l">
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                <div class="clear"></div>
            </div>
            <div class="form-left-to-w3l">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            </div>
            <div class="form-left-to-w3l ">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                <div class="clear"></div>
            </div>
            <div class="form-group">
             
                    <button type="submit" class="btn btn-warning float-right">Güncelle</button>
                    
              
            </div>
            @*<div class="btnn">
            <button type="submit">Sign Up</button><br>
            <div class="clear"></div>
        </div>*@
        </div>
        }
    </div>

    <!--js working-->
    <script src='~/web3/js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
    <script>
         $('input[type="file"]').each(function(){
           // Refs
           var $file = $(this),
               $label = $file.next('label'),
               $labelText = $label.find('span'),
               labelDefault = $labelText.text();

           // When a new file is selected
           $file.on('change', function(event){
             var fileName = $file.val().split( '\\' ).pop(),
                 tmppath = URL.createObjectURL(event.target.files[0]);
             //Check successfully selection
             if( fileName ){
               $label
                 .addClass('file-ok')
                 .css('background-image', 'url(' + tmppath + ')');
               $labelText.text(fileName);
             }else{
               $label.removeClass('file-ok');
               $labelText.text(labelDefault);
             }
           });

         // End loop of file input elements
         });
    </script>
</body>
</html>

